<!-- dashborad start -->
<div class="dashborad">
   <div class="container">
      <div class="holder">
         <div class="row">
            <div class="col-md-3 col-sm-4 ">
               <div class="heading_holder">
                  <h3>My Dashborad</h3>
               </div>
               <div class="sidebar">
                  <a class="btn btn-default syb" href="#" role="button">Posted Quote History</a>
                  <a class="btn btn-default" href="#" role="button">Airline Bidding Quotes</a>
                  <a class="btn btn-default" href="#" role="button">Request a Quote</a>
               </div>
            </div>
            <div class="col-md-9 col-sm-8">
               <div class="heading_area text-center ">
                  <h3>Request a Quote</h3>
               </div>
               <div class="create_area">
                  <form>
                     <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-5">
                           <div class="form-group">
                              <div class="left-inner-addon">
                                 <i class="fa fa-user"></i>
                                 <input type="text" class="form-control" placeholder="Your Name">
                              </div>
                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 pull-right">
                           <div class="form-group">
                              <div class="left-inner-addon">
                                 <i class="fa fa-envelope"></i>
                                 <input type="email" class="form-control" placeholder="Your Email">
                              </div>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-12 col-md-5">
                           <div class="form-group">
                              <div class="left-inner-addon">
                                 <i class="fa fa-building-o"></i>
                                 <input type="text" class="form-control" placeholder="Name">
                              </div>
                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 pull-right">
                           <div class="form-group">
                              <div class="input-group">
                                 <div class="input-group-addon">Code</div>
                                 <input type="text" class="form-control" id="exampleInputAmount" placeholder="Phone No">
                              </div>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-12 col-md-5">
                           <div class="form-group">
                              <div class="left-inner-addon">
                                 <i class="fa fa-asterisk"></i>
                                 <input type="text" class="form-control" placeholder="Contact Number">
                              </div>
                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 pull-right">
                           <div class="form-group">
                              <div class="left-inner-addon">
                                 <i class="fa fa-asterisk"></i>
                                 <input type="text" class="form-control" placeholder="UAN Number ">
                              </div>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-12 col-md-5">
                           <div class="form-group select_box">
                              <div class="input-group">
                                 <div class="input-group-addon"><i class="fa fa-bars"></i></div>
                                 <select class="form-control">
                                    <option>Origin</option>
                                    <option>Origin</option>
                                    <option>Origin</option>
                                    <option>Origin</option>
                                    <option>Origin</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 text-center">
                           <h4>to</h4>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 pull-right">
                           <div class="form-group">
                              <div class="left-inner-addon">
                                 <i class="fa fa-asterisk"></i>
                                 <input type="text" class="form-control" placeholder="Destination  ">
                              </div>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="info_area col-md-12">
                           <label><strong>Freight information:</strong></label>
                        </div>
                        <div class="dimension_area">
                           <div class="col-md-2 info_labal">
                              <label>Dimensions</label>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label>Length</label>
                                 <input type="text" class="form-control" placeholder="  ">
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label>Width</label>
                                 <input type="text" class="form-control" placeholder="  ">
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label>Length</label>
                                 <input type="text" class="form-control" placeholder="  ">
                              </div>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="width_area">
                           <div class="col-md-2 info_labal">
                              <label>width</label>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label>Kgs</label>
                                 <input type="text" class="form-control" placeholder="  ">
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label>Volume</label>
                                 <input type="text" class="form-control" placeholder="  ">
                              </div>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="imageupload_area">
                           <div class="col-md-5">
                              <div class="form-group">
                                 <label>Number of palates/skids/PCs</label>
                                 <input type="text" class="form-control" placeholder="  ">
                              </div>
                           </div>
                           <div class="col-md-1">
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label>Image</label>
                                 <input type="text" class="form-control" placeholder="  ">
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <a class="btn btn-default btn-upload" href="#" role="button">Upload</a>
                              </div>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="datepicker_area">
                           <div class="col-md-2 f_size17 ">
                              <label>Date Required</label>
                           </div>
                           <div class="col-md-2">
                              <div class="form-group">
                                 <label>Date</label>
                                 <input type="text" class="form-control" placeholder="  ">
                              </div>
                           </div>
                           <div class="col-md-2">
                              <div class="form-group">
                                 <label>Month</label>
                                 <input type="text" class="form-control" placeholder="  ">
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="form-group">
                                 <label>year</label>
                                 <input type="text" class="form-control" placeholder="  ">
                              </div>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="nature_area">
                           <div class="head col-sm-12">
                              <label><strong>Nature of Cargo</strong></label>
                           </div>
                           <div class="col-md-5">
                              <a class="btn btn-default syb" href="#" role="button">Dangerous Goods</a>
                              <a class="btn btn-default syb" href="#" role="button">Heavy/outsized</a>
                              <div class="text_area">
                                 <label>Additional Information <span>(optional field)</span> </label>
                                 <textarea class="form-control" rows="6"></textarea>
                              </div>
                           </div>
                           <div class="col-md-5  col-sm-12 col-xs-12 pull-right">
                              <a class="btn btn-default " href="#" role="button">Dangerous Goods</a>
                              <a class="btn btn-default " href="#" role="button">Heavy/outsized</a>
                              <div class="text_area">
                                 <label>Special Requirements <span>(optional field)</span></label>
                                 <textarea class="form-control" rows="6"></textarea>
                              </div>
                           </div>
                           <div class="btn_area">
                              <input class="btn btn-default" type="submit" value="Submit">
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- dashborad end -->