<div class="flight_details">
   <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
         <button type="button" class="btn b-right btn-default" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Freight Inquiries </button>
         <div class="collapse" id="collapseExample">
            <div class="well text-center">
               <p>Freight requirements posted by Shippers looking for competitive rates 
                  To quote your rate, Click Here
               </p>
               <div class="col">
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <th>Origin</th>
                           <th>Destination</th>
                           <th>Payload</th>
                           <th>Date Required </th>
                           <th>Nature<br>of Goods</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Liechtenstein</td>
                           <td>Liechtenstein</td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>
                        <tr>
                           <th>Slovakia</th>
                           <td>Slovakia</td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>
                        <tr>
                           <th>Greece</th>
                           <td>Greece</td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div class="btn-group" role="group">
         <button type="button" class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Freight Inquiries </button>
         <div class="collapse" id="collapseExample1">
            <div class="well text-center">
               <p>Freight requirements posted by Shippers looking for competitive rates 
                  To quote your rate, Click Here
               </p>
               <div class="col">
                  <table class="table table-bordered">
                     <thead>
                        <tr>
                           <th>Origin</th>
                           <th>Destination</th>
                           <th>Payload</th>
                           <th>Date Required </th>
                           <th>Nature<br>of Goods</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Liechtenstein</td>
                           <td>Liechtenstein</td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>
                        <tr>
                           <th>Slovakia</th>
                           <td>Slovakia</td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>
                        <tr>
                           <th>Greece</th>
                           <td>Greece</td>
                           <td></td>
                           <td></td>
                           <td></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <span class="img-tag">
   <img src="/assets/img_tag_b.png" class="img-responsive">
   </span>
</div>
</div>
<div class="main">
<div class="offer_area">
   <h1>Have a great deal to offer ?</h1>
   <h2>Post Freight Deal</h2>
   <p>Post your full container and less than container freight offers here, shippers will do enquiry on your offer or will contact you directly.</p>
   <a class="btn btn-default" href="#" role="button">Post Deal</a>
</div>
<!-- end offer area -->
<div class="container">
   <div class="how_it_work">
      <span class="img-tag">
      <img src="/assets/img_tag_t.png" class="img-responsive">
      </span>
      <h1>How it works ?</h1>
      <p>ShippingExchange is world’s largest online marketplace for Sea Rates which helps exporters/importers worldwide to get best ocean freight rates for their shipments from widest range of service providers at absolutely NO COST.</p>
      <p>At the same time it helps Freight Forwarders / NVOCCs / Shipping lines get hundreds of sales leads and business opportunities of their choice without needing to visit the Shipper.</p>
      <p>We work on a “no-obligation-reverse-bidding” model where service providers try to outbid each other by providing their best quotes on Freight Inquiries posted by shippers. Shipper then reviews all bids, decides who he wants to do business with and gets in touch with them directly.</p>
      <p>We do not interfere between the two after this point, neither do we charge any commission on any transaction from anyone.</p>
      <p>Shipping Exchange not only helps a Shipper get best rates for his shipment but also reduces his efforts in getting those rates to almost nothing. At the same time, it can reduce the cost of acquiring sales leads for Service providers by almost 90% as it potentially eliminates the need of having multiple offices and staff across the country or world.</p>
      <p>ShippingExchange today has about half-a-million members across the globe. Majority of its members come from USA, India, China and Europe. It also has good member base in Middle East & North Africa</p>
   </div>
   <!-- end how it work -->
   <div class="shipmrnt_area">
      <div class="col-sm-10">
         <h2>Have a shipment to send?</h2>
         <div class="clearfix"></div>
         <p>Post your freight inquiry and get quotes from verified service providers near your location.
            Too busy to type?? .. call us on and we will get you quotes
         </p>
      </div>
      <div class="col-xs-12 col-sm-2">
         <a class="btn btn-default " href="#" role="button">POST INQUIRY</a>
      </div>
   </div>
</div>
<div class="main_holder">
   <div class="container">
      <div class="col-md-12" data-wow-delay="0.2s">
         <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#quote-carousel" data-slide-to="0" class="active">
               </li>
               <li data-target="#quote-carousel" data-slide-to="1">
               </li>
               <li data-target="#quote-carousel" data-slide-to="2">
               </li>
            </ol>
            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center">
               <!-- Quote 1 -->
               <div class="item active">
                  <div class="row">
                     <div class="col-sm-3 text-center">
                        <h2>Customers <br> Speak</h2>
                     </div>
                     <div class="col-sm-9">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  !</p>
                     </div>
                  </div>
               </div>
               <!-- Quote 2 -->
               <div class="item">
                  <div class="row">
                     <div class="col-sm-3 text-center">
                        <h2>Customers <br> Speak</h2>
                     </div>
                     <div class="col-sm-9">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  !</p>
                     </div>
                  </div>
               </div>
               <!-- Quote 3 -->
               <div class="item">
                  <div class="row">
                     <div class="col-sm-3 text-center">
                        <h2>Customers <br> Speak</h2>
                     </div>
                     <div class="col-sm-9">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  !</p>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Carousel Buttons Next/Prev -->
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
         </div>
      </div>
      <div class="clearfix"></div>
      <hr>
      <div class="about">
         <div class="col-sm-6">
            <h2>About us</h2>
            <p>ShippingExchange.com, owned & operated by Shipping Exchange Inc, is the world’s first online Freight Exchange for ocean shipping. It allows Shippers to invite most competitive quotes for their shipments from service providers across the globe. On the other hand, it helps service providers generate a lot more business with minimal effort – a true win-win. And No, we don’t charge you any commission on the deals you close.</p>
            <p>Try us once to Trust us forever. read more</p>
         </div>
         <div class="col-sm-6">
            <div class="row">
               <div class="col-sm-6">
                  <h2>Useful Links</h2>
                  <ul class="list-unstyled">
                     <li>Articles</li>
                     <li>Unit Converter</li>
                     <li>Currency Converter</li>
                  </ul>
               </div>
               <div class="col-sm-6">
                  <h2> Let us Help you</h2>
                  <ul class="list-unstyled">
                     <li>FAQs</li>
                     <li>Contact us</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>