<div class="col-md-3 col-sm-4 ">
    <div class="heading_holder">
        <h3>My Dashborad</h3>
    </div>
    <div class="sidebar">
        <a class="btn btn-default syb" href="/broker_board" role="button">Posted Quote History</a>
        <a class="btn btn-default" href="#" role="button">Airline Bidding Quotes</a>
        <a class="btn btn-default" href="<%= new_broker_quote_path %>" role="button">Request a Quote</a>
    </div>
</div>