<div class="dashborad">
  <div class="container">
    <div class="holder">
      <div class="row">
        <%= render partial: "shared/sidebar"%>
        <div class="col-md-9 col-sm-8">
          <div class="heading_area text-center ">
            <h3>Request a Quote</h3>
          </div>
          <div class="create_area">
             <%= form_for @quote, url: {action: "create"} do |f| %>
                <%= render partial: "form", :locals => {:f => f, button: "ADD QUOTE" } %>
             <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  jQuery.validator.addMethod("lettersonly", function(value, element) {
    return this.optional(element) || /^[a-z\s]+$/i.test(value);
  }, "Letters only please"); 

  $.validator.addMethod("lettersNumbersOnly", function(value, element) {
    return this.optional(element) || /^[a-z0-9\-\s]+$/i.test(value);
  }, "Username must contain only letters, numbers, or dashes.");

  $("#new_broker_quote").validate({
     rules: {
      "broker_quote[name]": { lettersonly: true},
      "broker_quote[company_name]" : {lettersNumbersOnly: true},
      "broker_quote[email]" : {email: true},
      "broker_quote[phone_number]" : {digits: true},
      "broker_quote[from_airpot]" : {lettersonly: true},
      "broker_quote[to_airpot]" : {lettersonly :true},
      "day" :{ required: true, maxlength: 2},
      "month" :{ required: true, maxlength: 2},
      "year" :{ required: true, maxlength: 4}
    }
    });

  $('#datetimepicker1').datetimepicker();
});
</script>
